<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
       <ul>
           <li v-for="item in MyArray">{{ item }}</li>
       </ul>

       <ul>
           <li v-for="item in MyMug">{{ item.name }}</li>
       </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        new Vue({
            el:'#app',
            data: {
                MyArray:['김','리','건'],
                MyMug: [
                    {name: '맛초킹', price: 15000},
                    {name: '뿌링클', price: 14000}
                ] 
            }
        })
    </script>

</body>
</html>