<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input v-model="MyName" placeholder="이름">
        <p>{{ MyName }}</p>

        <textarea v-model="MyText"></textarea>
        <p>{{ MyText }}</p>

        <label><input type="checkbox" v-model="MyCheck">동의합니다</label>        
        <p>{{ MyCheck }}</p>
        <button v-bind:disabled="MyCheck==false">송신</button>      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        new Vue({
            el:'#app',
            data: {
                MyName:'',
                MyText:'',
                MyCheck:false
            }
        })
    </script>
</body>
</html>