<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- true 일 경우만 표시 -->
        <input type="checkbox" v-model="ck">
        <p v-if="ck">진짜다</p>
        <p v-else>가짜다</p>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        new Vue({
            el:'#app',
            data: {
                ck:false
            },
            methods: {

            }
        })
    </script>
</body>
</html>